@import "tailwindcss";
@plugin "daisyui";

*{
  font-family: 'Poppins', sans-serif;
}

.navbar .active {
  color: rgb(240, 34, 168);
  font-weight: bold;
  border: 1px solid #CAC8C8FF;
  border-radius: 18px;
  background: rgb(243, 226, 226);
}