@import "tailwindcss";
@plugin "daisyui";

/* light dark */
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


*{
  font-family: 'Poppins', sans-serif;
}


.navbar .active {
  color: rgb(240, 34, 168);
  font-weight: bold;
  border: 1px solid #CAC8C8FF;
  border-radius: 18px;
  background: rgb(243, 226, 226);
}


/* bashboard menu  */
.menu-desh {
  @apply block px-3 py-2 rounded-md text-gray-700 
  hover:bg-pink-100 hover:text-pink-600 
  transition;
}
